<script>
    var os = require('os');

    const getmac = require('getmac');

    //获取机器mac地址
    let macAddress = "";
    getmac.getMac(function(err, macAddress) {
        if (err) throw err;
        var macAddress = macAddress; //获取mac地址
        $("#macAddress").text(macAddress);
    });

    //获取cpu(处理器架构)
    var arch = os.arch();
    // console.log(arch);
    $("#arch").text(arch);

    //获取cpu信息
    var cpus = os.cpus();
    // console.log(cpus);
    $("#cpus").text(cpus[0].model + '(' + cpus.length + ')核');

    //字节顺序 高位优先返回BE,低位优先的返回LE
    var endianness = os.endianness();
    // console.log(endianness);

    // 空闲内存字节
    var freemem = os.freemem()
    // console.log(freemem);
    $("#freemem").text(freemem);

    // 当前登录用户的根目录
    var homedir = os.homedir();
    // console.log(homedir);
    $("#homedir").text(homedir);

    // 操作系统主机名
    var hostname = os.hostname()
    // console.log(hostname);
    $("#hostname").text(hostname);

    // 系统最近5、10、15分钟的平均负载,这是一个针对linux或unix的统计，windows下始终返回[0,0,0]
    var loadavg = os.loadavg();
    // console.log(loadavg);

    // 网络配置列表
    var networkInterfaces = os.networkInterfaces();

    // networkInterfaces = JSON.stringify(networkInterfaces);
    // networkInterfaces = JSON.parse(networkInterfaces);
    // console.log(transformObj(networkInterfaces));
    // $("#networkInterfaces").text(networkInterfaces);

    // 操作系统类型,返回值有'darwin', 'freebsd', 'linux', 'sunos' , 'win32'
    var platform = os.platform();
    // console.log(platform);
    $("#platform").text(platform);

    // 操作系统版本
    var release = os.release();
    // console.log(release);
    $("#release").text(release);

    // 操作系统临时文件的默认目录
    var tmpdir = os.tmpdir()
    // console.log(tmpdir);
    $("#tmpdir").text(tmpdir);

    // 系统总内存
    var totalmem = os.totalmem()
    // console.log(totalmem);
    $("#totalmem").text(totalmem);

    // 操作系统名称，基于linux的返回linux,基于苹果的返回Darwin,基于windows的返回Windows_NT
    var type = os.type();
    // console.log(type);
    $("#type").text(type);

    // 计算机正常运行时间
    var uptime = os.uptime();
    // console.log(uptime);
    $("#uptime").text(uptime);
</script>
<table class="tableForm" border=1 width="600">
    <tr>
        <td width="30%">操作系统</td>
        <td id="platform"></td>
    </tr>
    <tr>
        <td width="30%">操作系统版本</td>
        <td id="release"></td>
    </tr>
    <tr>
        <td width="30%">操作系统名称</td>
        <td id="type"></td>
    </tr>
    <tr>
        <td width="30%">系统总内存</td>
        <td id="totalmem"></td>
    </tr>
    <tr>
        <td width="30%">空闲内存字节</td>
        <td id="freemem"></td>
    </tr>
    <tr>
        <td width="30%">MAC地址</td>
        <td id="macAddress"></td>
    </tr>
    <tr>
        <td width="30%">cpu(处理器架构)</td>
        <td id="arch"></td>
    </tr>
    <tr>
        <td width="30%">cpu信息</td>
        <td id="cpus"></td>
    </tr>
    <tr>
        <td width="30%">操作系统临时文件的默认目录</td>
        <td id="tmpdir"></td>
    </tr>
    <tr>
        <td width="30%">当前登录用户的根目录</td>
        <td id="homedir"></td>
    </tr>
    <tr>
        <td width="30%">操作系统主机名</td>
        <td id="hostname"></td>
    </tr>
    <tr>
        <td width="30%">计算机正常运行时间</td>
        <td id="uptime"></td>
    </tr>
</table>