<script type="text/javascript">
    function showgetConnDialog() {
        $('#getConnDialog').dialog({
            title: "链接信息",
            width: 500,
            height: 250,
            modal: true,
            onClose: function() {
                // $(this).dialog('destroy');
            },
            buttons: [{
                text: '开始链接',
                iconCls: 'icon-add',
                handler: function() {
                    var data = $("#getConnDialogForm").form("getData");
                    type = data.type;
                    address = data.address;
                    user = data.user;
                    pass = data.pass;
                    port = data.port;
                    database = '';
                    conn();
                    $('#getConnDialog').dialog('close');
                }
            }]
        });
    }

    function conn() {
        /*var MongoClient = require('mongodb').MongoClient;
        // var bdurl = "mongodb://localhost:27017/runoob";
        var bdurl = type + "://" + address + ":" + port + "/itying";

        MongoClient.connect(bdurl, function(err, db) {
            if (err){
                console.log(err);
                return;
            }
            console.log("数据库已创建!");
            db.close();
        });*/

        dbmysql.set(address, user, pass, port);
        var sql = 'show databases';
        $.messager.progress({
            title: '请稍候',
            msg: '正在查询！请稍后...'
        });
        dbmysql.query(sql, function(err, rows, fields) {
            $.messager.progress('close');
            if (err) {
                console.log(err);
                $("#indexMsg").text(err);
                return;
            }
            var data = Array();
            rows.forEach((row, index) => {
                var temp = {};
                temp['id'] = index;
                temp['text'] = row.Database;
                temp['state'] = 'open';
                temp['iconCls'] = "icon-chakan";
                temp['type'] = "ku";
                data.push(temp);
            });
            // console.log(rows);
            $('#west_tree').tree({
                data: data,
                lines: true,
                onLoadSuccess: function(node, data) {
                    $('#west_tree').tree('collapseAll');
                },
                onClick: function(node) {
                    var url;
                    console.info(node);
                    let table = node.text;
                    if (node.type == "ku") {
                        //先删除所有子节点
                        var node = $('#west_tree').tree('find', node.id);
                        var childrenNodes = $('#west_tree').tree('getChildren', node.target);
                        childrenNodes.forEach((child, key) => {
                            $('#west_tree').tree('remove', child.target);
                        })

                        //再重新添加节点显示
                        dbmysql.set(address, user, pass, port, table);
                        var sql = 'show tables';
                        var dataSub = Array();

                        $.messager.progress({
                            title: '请稍候',
                            msg: '正在查询！请稍后...'
                        });
                        dbmysql.query(sql, function(err, rows, fields) {
                            $.messager.progress('close');
                            if (err) {
                                console.log(err);
                                $("#indexMsg").text(err);
                                return;
                            }
                            rows.forEach((row, index) => {
                                row = transformObj(row);
                                // console.log(row);
                                var temp = {};
                                temp['id'] = 'tablename_' + index;
                                temp['text'] = row['Tables_in_'+table];
                                temp['state'] = 'open';
                                temp['type'] = "biao";
                                dataSub.push(temp);
                            });
                            var selected = $('#west_tree').tree('getSelected');
                            $('#west_tree').tree('append', {
                                parent: selected.target,
                                lines: true,
                                data: dataSub
                            });
                            $('#west_tree').tree('expand', node.target);
                        });
                    } else {
                        getData(node.text);
                    }
                }
            });
        });
    }
</script>
<div class="easyui-layout" fit="true">
    <div region="center" border="false">
        <div class="easyui-panel" data-options="fit:true,border:false">
            <p style="text-align: center;margin:3px auto"><a onclick="showgetConnDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">链接</a></p>
            <p>
                <ul id="west_tree"></ul>
            </p>
        </div>
    </div>
    <div region="south" id="indexMsg" data-options="title:'系统日志',split:false,fit:false,border:false" style="height:150px;">
        这里可以显示
    </div>
</div>
<div id="getConnDialog">
    <form id="getConnDialogForm">
        <table class="tableForm">
            <tr>
                <td>数据库类型</td>
                <td><select name="type" id="">
                    <option value="mysql">mysql</option>
                    <option value="mongo">mongo</option>
            </select></td>
            </tr>
            <tr>
                <td>链接地址</td>
                <td><input type="text" name="address" value="127.0.0.1"></td>
            </tr>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="user" value="root"></td>
            </tr>
            <tr>
                <td>端口</td>
                <td><input type="text" name="pass" value="root"></td>
            </tr>
            <tr>
                <td>端口号</td>
                <td><input type="text" name="port" value="3306"></td>
            </tr>
        </table>
    </form>
</div>